rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Cada usuario solo accede a sus propios datos
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Reportes
    match /reports/{reportId} {
      // Cualquier usuario autenticado puede crear un reporte
      allow create: if request.auth != null;
      // Solo el admin puede leer y actualizar reportes
      allow read, update: if request.auth != null
        && request.auth.token.email == 'chemapm30@gmail.com';
    }
  }
}
